body {
  margin: 0;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  min-width: 1150px;
}

h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-area {
  background: #fffdf8;
  padding: 72px 0;
}

.wysiwyg-wrapper h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 32px;
}

.wysiwyg-wrapper h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 40px; /*по макету 56*/
  color: #9f7303;
}

.wysiwyg-wrapper h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  margin-bottom: 34px;
  color: #9f7303;
}

.wysiwyg-wrapper ol,
.wysiwyg-wrapper ul {
  padding-left: 30px;
  margin-bottom: 56px;
}

.wysiwyg-wrapper li {
  margin-bottom: 8px;
  position: relative;
  list-style: none;
}

.wysiwyg-wrapper li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  background-color: #f5d581;
  transform: rotate(45deg);
  top: 10px;
  left: -25px;
}

.wysiwyg-wrapper p:nth-child(3) {
  margin-bottom: 27px;
}

.wysiwyg-wrapper p:nth-child(4) {
  margin-bottom: 32px;
}

.wysiwyg-wrapper blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  color: #9f7303;
  padding: 40px 70px;
  border-top: 1px solid #f5d581;
  border-bottom: 1px solid #f5d581;
  text-align: center;
  margin: 83px 95px;
}
