.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  min-width: 1150px;
}

.page-main {
  background-color: #fefaf3;
  padding: 60px 0;
}

@font-face {
  font-family: "Arkhip";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Arkhip.woff2") format("woff2"),
    url("../fonts/Arkhip.woff") format("woff");
}

.wysiwyg-wrapper h1 {
  font-family: "Arkhip", "Arial", sans-serif;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 24px;
}

.wysiwyg-wrapper h2 {
  font-family: "Arkhip", "Arial", sans-serif;
  font-size: 36px;
  margin-bottom: 40px;
}

.wysiwyg-wrapper h3 {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.wysiwyg-wrapper ol,
.wysiwyg-wrapper ul {
  padding-left: 22px;
}

.wysiwyg-wrapper li {
  margin-bottom: 16px;
}

.wp-block-separator {
  width: 100%;
  height: 28px;
  /*Почему не вынесен фон в разметку*/
  background-image: url("../img/separator-bread.svg");
  background-size: 208px 28px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 60px 0;
}

.order {
  padding: 120px 0;
  background-image: url("../img/background-order.jpg");
  background-size: cover;
}

.order__title {
  font-family: "Arkhip", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.order-form__column-wrapper {
  display: flex;
  justify-content: space-between;
}

.order-form__column-item {
  width: 350px;
  text-align: center;
}

.order-form {
  margin: 64px 0 120px;
}

.order-form .wpcf7-text {
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 21px;
  background-color: #fffaf3;
  border-radius: 200px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.order-form .wpcf7-text::placeholder {
  color: #000000;
  opacity: 0.2;
}

.order-form .wpcf7-select {
  font-family: inherit;
  font-weight: 500;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 21px;
  background-color: #fffaf3;
  border-radius: 200px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  /*Общий вид select в всех браузерах*/
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8 12L-9.53992e-08 -5.08584e-07L16 -1.90735e-06L8 12Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 244px;
  background-position-y: 30px;
}

.order-form__column-item label {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 11px;
}

.order-form__column-item p label {
  margin-left: 8px;
}

.order-form__column-item p {
  margin: 0;
}

.order-form__checkbox-wrapper {
  text-align: center;
  margin-bottom: 37px;
}

.reviews {
  background-color: #fefaf3;
  padding: 120px 0;
}

.review {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 32px auto auto;
  column-gap: 22px;
  margin-bottom: 64px;
}

.review__image-wrapper {
  width: 160px;
  height: 160px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #f5d581;
}

.review__image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  text-indent: -100vw;
}

.review__name {
  margin: 0;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.review__text {
  font-size: 18px;
  line-height: 27px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0 0 13px 0;
  padding: 6px 8px;
}

.review__link {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #d8874d;
  padding-left: 32px;
}

.review__link::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  /*Почему не вынесен фон в разметку*/
  background-image: url("../img/icon-in.svg");
  background-size: cover;
  top: 2px;
  left: 8px;
}

.page-footer {
  /*Почему не вынесены фоны в разметку*/
  background-image: url("../img/background-darker.png"), url("../img/background-footer.jpeg");
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.page-footer * {
  color: #ffffff;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  width: 259px;
  height: 38px;
  margin-bottom: 32px;
}

.page-footer__phone {
  margin-bottom: 46px;
}

.page-footer__phone a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.page-footer__social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 16px;
}

.page-footer__social-item img {
  max-width: 28px;
  max-height: 28px;
}
